{% extends 'base/base.html' %}
{% block content %}

<div class="col-md-6 offset-md-3">
<h1>Add Record</h1>
<br/>

<form method="POST" action="{% url 'sales:update-info' data.id %}">
    {% csrf_token %}
     <div class="mb-3">
    <input type="text" class="form-control" value="{{data.name}}" name="stock", placeholder="Enter Stock Name" required>

  </div><br>

     <div class="mb-3">
    <input type="number" class="form-control" value="{{data.quantity}}" name="Qty", placeholder="Enter Quantity" required>

  </div><br/>

     <div class="mb-3">
    <input type="number" class="form-control" value="{{data.price}}" name="price", placeholder="Enter price" required>

  </div><br/>

    <div class="mb-3">
    <input type="text" class="form-control" name="brand", value="{{data.brand}}" placeholder="Enter Brand Name" required>

  </div><br/>




     <div class="mb-3">
         <h5>Means of Payment</h5>
    <select name="payment">
        <option value="Bank">Bank</option>
        <option value="Cash">Cash</option>
         <option value="POS">POS</option>
         <option value="Credit">Credit</option>
    </select>
     </div>
  <button type="submit" class="btn btn-secondary">Update Record</button>
   <a href="{% url 'sales:info' data.id %}" class="btn btn-secondary">Back</a>

</form>

</div>

{% endblock %}
Footer